{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- start banner Area -->
<section class="banner-area relative">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row fullscreen align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 banner-left">
				<h6 class="text-white">Away from monotonous life</h6>
				<h1 class="text-white">Magical Travel</h1>
				

			</div>

		</div>
	</div>
</section>
<!-- End banner Area -->

<script src="{% static 'js/vendor/jquery-2.2.4.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static 'js/jquery-ui.js'%}"></script>
<script src="{% static 'js/easing.min.js'%}"></script>
<script src="{% static 'js/hoverIntent.js'%}"></script>
<script src="{% static 'js/superfish.min.js'%}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/mail-script.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
</body>

</html>
{% endblock %}