{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

			<!-- start banner Area -->
			<section class="banner-area relative blog-home-banner" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content blog-header-content col-lg-12">
								
												
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  
			<div class="widget-wrap">
					{% include 'blog/blog-search.html' %}
			</div>

			

			
			
			<!-- Start post-content Area -->
			<section class="post-content-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 posts-list">
							{% for post in published_posts %}
							<div class="single-post row">
								<div class="col-lg-3 col-md-3 meta-details">
									<ul class="tags">
										{% for cat in post.category.all %}
										<li><a href="{% url 'blog:cat' cat_name=cat.name %}"> {{post.category.all|join:", "}} </a></li>
										{% endfor %}
									</ul>
									<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="{% url 'blog:author_un' author_username=post.author %}">{{post.author}}</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6"><a href="#">{{post.published_date|date:"D/d/M/Y"}}</a> <span class="lnr lnr-calendar-full"></span></p>
										<p class="view col-lg-12 col-md-12 col-6"><a href="#">{{post.counted_view}} views</a> <span class="lnr lnr-eye"></span></p>
										<p class="comments col-lg-12 col-md-12 col-6"><a href="#">{%comments_count post.id%} Comment</a> <span class="lnr lnr-bubble"></span></p>
									</div>
								</div>
								<div class="col-lg-9 col-md-9">
									<div class="feature-img">
										<a href="{% url 'blog:single' pid=post.id %}"><img class="img-fluid" src="{{post.image.url}}" alt=""></a>
									</div>
									<a class="posts-title" href="{% url 'blog:single' pid=post.id %}"><h3>{{ post.title }}</h3></a>
									<p class="excert">
										{{post.content|truncatewords:20}}
									</p>
									<a href="#" class="primary-btn">View More</a>
								</div>
							</div>
							{% endfor %}
							{% for post in unpublished_posts %}
        					<h1>{{post.title}} </h1>  
        					<p>not published yet</p>
    						{% endfor %}												
		                    <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
									{% if published_posts.has_previous %}
		                            <li class="page-item">
		                                <a href="?page={{published_posts.previous_page_number}}" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
									{% endif %}
									{% for i in published_posts.paginator.page_range %}
		                            <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
		                            {% endfor %}
									{% if published_posts.has_next %}
		                                <a href="?page={{published_posts.next_page_number}}" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
									{% endif %}
		                        </ul>
		                    </nav>
						</div>
						<div class="col-lg-4 sidebar-widgets">
							<div class="widget-wrap">
								
								
								{% include 'blog/blog-writer.html' %}
								{% latestposts %}
								{% postcategory %}
								{% posttags %}
								
								
								
								<div class="single-sidebar-widget newsletter-widget">
									<h4 class="newsletter-title">Newsletter</h4>
									<p>
										Here, I focus on a range of items and features that we use in life without
										giving them a second thought.
									</p>
									<div class="form-group d-flex flex-row">
									   <div class="col-autos">
									      <div class="input-group">
									        <div class="input-group-prepend">
									          <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
											</div>
									        </div>
									        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'" >
									      </div>
									    </div>
									    <a href="#" class="bbtns">Subcribe</a>
									</div>	
									<p class="text-bottom">
										You can unsubscribe at any time
									</p>								
								</div>
																
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End post-content Area -->
			
			
			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="{% static 'js/popper.min.js' %}"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>		
 			<script src="{% static 'js/jquery-ui.js' %}"></script>					
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>						
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>					
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>							
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	
		</body>
</html>

{% endblock %}